---
import Icon from '../Icon.astro'
import profile from '/src/images/perfil.jpg'
import { Image } from 'astro:assets'
---

<section class="container px-4 py-16 md:px-10 md:py-20 lg:py-32 mx-auto flex flex-col items-center md:flex-row justify-around lg:justify-center gap-16 md:gap-4 lg:gap-16" id="sobre-mi">
  <div class="md:w-5/12 lg:max-w-none">
    <h3 class="text-gradient tracking-tighter font-bold text-3xl">
      Sobre mí
    </h3>
    <p class="mt-4 max-w-sm">
      Soy <span class="text-slate-200">Ingeniero en Informática</span>, con conocimientos en <span
        class="text-slate-200">Desarrollo web back-end y front-end</span>, creando aplicaciones web con frameworks
      como <span class="text-slate-200">Next.js</span> y <span class="text-slate-200">Laravel</span>.
    </p>
    <p class="mt-4 max-w-sm">
      Actualmente me encuentro trabajando como <span class="text-slate-200">Desarrollador Web Freelance</span>, y también estoy en busca de oportunidades diferentes <span class="text-slate-200">oportunidades laborales</span>.
    </p>
    <div class="flex gap-4 mt-4">
      <a href="https://www.linkedin.com/in/esteban-florez-b210a5283" target="_blank" rel="noopener noreferrer"
        class="bg-slate-300 mt-4 text-slate-800 px-3 py-1 rounded-lg hover:brightness-90 flex items-center gap-1 text-sm">
        <Icon id="linkedin" class="h-6 text-slate-800" />
        LinkedIn
      </a>
      <a href="https://github.com/esteban-florez" target="_blank" rel="noopener noreferrer"
        class="bg-slate-300 mt-4 text-slate-800 px-3 py-2 rounded-lg hover:brightness-90 flex items-center gap-1 text-sm">
        <Icon id="github" class="h-5 text-slate-800" />
        GitHub
      </a>
    </div>
  </div>
  <div class="relative mx-auto md:mx-0">
    <div class="w-64 lg:w-72 rounded-lg bg-gradient absolute -z-10 rotate-12 grid place-items-center aspect-[18/20]">
    </div>
    <Image
      class="w-64 lg:w-72 object-cover rounded-xl object-top border-4 border-slate-900 aspect-[18/20]"
      widths={[256, 288]}
      sizes={'(max-width: 1023px) 256px, 288px'}
      src={profile}
      alt="Imagen de Esteban Florez"
    />
  </div>
</section>
