---
import { LOGOS } from '../../consts'
import Logo from '../Logo.astro'

const entries = Object.entries(LOGOS)
const logos = entries.concat(structuredClone(entries))
---

<section class="bg-slate-950 h-36 overflow-x-hidden relative" id="carousel">
  {logos.map(([src, title], index) => (
    <Logo src={src} title={title} />
  ))}
</section>
<script src="/src/scripts/carousel.ts"></script>

