---
import Icon from '../Icon.astro'
---

<aside class="w-60 h-[100vh] z-30 bg-slate-800 shadow-lg fixed top-0 left-0 p-4 transition-all -translate-x-full" id="drawer">
  <nav class="flex flex-col pt-4 gap-3">
    <a class="flex items-center gap-4 text-teal-400 text-lg bg-slate-900 w-full px-3 py-2 rounded-xl" href="#sobre-mi" data-drawer-link="true">
      <Icon class="w-6 h-6" id="id" />
      Sobre mí
    </a>
    <a class="flex items-center gap-4 text-teal-400 text-lg bg-slate-900 w-full px-3 py-2 rounded-xl" href="#proyectos" data-drawer-link="true">
      <Icon class="w-6 h-6" id="laptop" />
      Proyectos
    </a>
    <a class="flex items-center gap-4 text-teal-400 text-lg bg-slate-900 w-full px-3 py-2 rounded-xl" href="#habilidades" data-drawer-link="true">
      <Icon class="w-6 h-6" id="gears" />
      Habilidades
    </a>
    <a class="flex items-center gap-4 text-teal-400 text-lg bg-slate-900 w-full px-3 py-2 rounded-xl" href="#contacto" data-drawer-link="true">
      <Icon class="w-6 h-6" id="envelope" />
      Contacto
    </a>
    <hr class="border border-slate-900 w-full my-4">
    <button
    class="bg-gradient text-slate-800 px-3 py-2 rounded-lg text-lg hover:brightness-90 transition-all flex items-center justify-center gap-1">
    <Icon id="download" class="h-6 w-6" />
    Currículum
  </button>
  </nav>
</aside>
<script src="/src/scripts/drawer.ts"></script>
