<aside class="w-[80vw] h-[100vh] z-30 bg-slate-800 shadow-lg absolute top-0 left-0 p-4 -translate-x-full transition-all" id="drawer">
  <button id="drawer-close">Close</button>
  <nav class="flex flex-col items-start">
    <a class="px-1 text-teal-400" href="#sobre-mi">
      Sobre mí
    </a>
    <a class="px-1 text-teal-400" href="#proyectos">
      Proyectos
    </a>
    <a class="px-1 text-teal-400" href="#contacto">
      Contacto
    </a>
    <a class="px-1 text-teal-400" href="#curriculum">
      Currículum
    </a>
  </nav>
</aside>
<script src="/src/scripts/drawer.ts"></script>
