---
import Project from '../Project.astro'
import Divider from '../Divider.astro'
import Icon from '../Icon.astro'
// <!-- TODO: Desplegar y poner links a todos los proyectos -->
---

<section class="bg-slate-950 py-20 px-32" id="proyectos">
  <h2 class="font-bold text-4xl text-gradient">Mis proyectos</h2>
  <p class="text-lg">Estos son proyectos principales que he creado durante mis años de formación: </p>
  <Project
    id="novaship"
    title="Novaship - Aplicacion web de pasantías y ofertas de trabajo"
    date="2022-2023"
    image="register.png"
    url="http://novaship-dev.vercel.app"
    stack={['React', 'Next.js', 'TailwindCSS', 'Prisma', 'PostgreSQL']}
  >
    <p class="max-w-[60ch] mt-4">Desarrollé esta aplicación web como uno de mis <span class="text-slate-200">proyectos universitarios.</span> Permite a los estudiantes universitarios el buscar cupos para <span class="text-slate-200">pasantías y ofertas de trabajo</span> publicadas porempresas, además de permitir a las universidades llevar un control de sus pasantes.</p>
  </Project>
  <Divider />
  <Project
    id="uptavs"
    title="Sistema de Cursos Universitarios"
    date="2021-2022"
    image="stats.png"
    repo="uptavs-app"
    url="http://novaship-dev.vercel.app"
    stack={['PHP', 'Laravel', 'MySQL', 'Bootstrap', 'JavaScript']}
    inverted
  >
    <p class="max-w-[60ch] mt-4">Sistema web para la gestión de <span class="text-slate-200">cursos y clubes universitarios.</span> Permite la publicación de cursos por parte de una universidad, asignación de instructores, <span></span> control de matrícula, aprobación de estudiantes, etc. Permite a los usuarios descubrir los cursos publicados, matricularse y obtener sus <span class="text-slate-200">certificados en línea.</span></p>
  </Project>
  <Divider />
  <Project
    id="todo"
    title="ToDo - Aplicación de lista de tareas"
    date="2022-2023"
    image="light.png"
    repo="todo-app"
    url="http://novaship-dev.vercel.app"
    stack={['JavaScript', 'React', 'Webpack', 'CSS']}
  >
    <p class="max-w-[60ch] mt-4">Desarrollé esta pequeña aplicación basada en un <a class="text-green-400 font-medium hover:underline" href="https://www.frontendmentor.io/challenges/todo-app-Su1_KokOW" target="_blank" rel="noopener noreferrer">reto de FrontendMentor</a>, mientras aprendía las bases de <span class="text-slate-200">React</span>. Permite <span class="text-slate-200">crear, filtrar, y eliminar tareas</span>, además de marcarlas como completadas, guardando los datos al almacenamiento local del navegador, además de poder alternar entre <span class="text-slate-200">tema claro y oscuro.</span></p>
  </Project>
  <!-- TODO -> archivo de proyectos -->
  <div class="flex justify-end w-full">
    <a class="font-medium flex items-center gap-1 text-green-400 hover:underline" href="/proyectos">
      Ver más proyectos
      <Icon id="link" class="h-4" />
    </a>
  </div>
</section>

<dialog class="backdrop:w-screen backdrop:h-screen backdrop:bg-black animate-fadein border-none outline-none open:block h-[calc(100vh-1rem)] select-none" id="gallery">
  <img class="w-full h-full" src="" alt="Capturas de pantalla de proyectos" id="gallery-image">
  <button class="grid place-items-center absolute top-2 right-2 outline-none bg-slate-950/80 rounded-full group opacity-100 transition-opacity duration-1000" type="button" id="gallery-close">
    <Icon id="close" class="rounded-full w-9 h-9 p-2 text-slate-200 group-hover:text-slate-100" />
  </button>
  <div class="flex bg-slate-950/80 py-4 justify-center items-center gap-4 absolute w-full bottom-0 opacity-100 transition-opacity duration-1000">
    <button class="grid place-items-center rounded-full group disabled:pointer-events-none" type="button" id="gallery-previous">
      <Icon id="left" class="h-12 text-slate-300 group-disabled:text-slate-600 group-hover:text-slate-100 transition-colors" />
    </button>
    <div class="flex justify-center items-center gap-4" id="gallery-slides">
    </div>
    <button class="grid place-items-center rounded-full group disabled:pointer-events-none" type="button" id="gallery-next">
      <Icon id="right" class="h-12 text-slate-300 group-disabled:text-slate-600 group-hover:text-slate-100 transition-colors" />
    </button>
  </div>
  <template id="slide-template">
    <!-- podrías generar todas las imágenes del projecto, e irlas ocultado a según sea -->
    <img class="ring-4 ring-transparent hover:ring-slate-400 cursor-pointer h-16 transition-all" alt="Captura de pantalla">
  </template>
</dialog>
<script src="/src/scripts/projects.ts"></script>
