---
import '../styles.css'
import About from '../components/sections/About.astro'
import Carousel from '../components/sections/Carousel.astro'
import Footer from '../components/sections/Footer.astro'
import Header from '../components/sections/Header.astro'
import Hero from '../components/sections/Hero.astro'
import Projects from '../components/sections/Projects.astro'
import Skills from '../components/sections/Skills.astro'
import Drawer from '../components/sections/Drawer.astro'
---

<html class="scroll" lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Esteban Florez - Desarrollador Web</title>
  <link rel="shortcut icon" href="favicon.svg" type="image/x-icon">
  <meta name="description" content="Portafolio personal de Esteban Florez, Desarrollador Web.">
  <meta name="keywords" content="Desarrollador Web, Programador Web, Ingeniero en Informática, Programador Full Stack, Programador Front End, Programador Back End, Web Design, Programador Full Stack, React, Node.js, Vue.js, Laravel, PHP, JavaScript, TypeScript">
  <meta name="theme-color" content="#4ade80">
  <meta name="author" content="Esteban Florez">
  <meta name="robots" content="index, follow">
  <meta name="generator" content={Astro.generator} />
</head>

<body class="bg-slate-900 text-slate-400 selection:bg-teal-400 selection:text-teal-900 overflow-x-hidden">
  <Header />
  <Drawer />
  <main>
    <Hero />
    <Carousel />
    <About />
    <Projects />
    <Skills />
  </main>
  <Footer />
</body>

</html>
