---
import { Image } from 'astro:assets'
import Icon from './Icon.astro'
const { id, image } = Astro.props
const src = import(`/src/images/projects/${id}/${image}`)
---
<div class="border-4 border-slate-700 rounded-lg relative cursor-pointer max-w-[550px] w-full h-full overflow-y-hidden group">
  <Image class="rounded" src={src} alt="Captura de pantalla de un proyecto" data-cover={id} />
  <div class="bg-slate-950 opacity-0 w-full h-full rounded absolute top-0 left-0 group-hover:opacity-25 transition-opacity pointer-events-none">
  </div>
  <div class="w-full h-full absolute top-0 left-0 grid place-items-center pointer-events-none">
    <Icon id="zoom" class="text-slate-100 opacity-0 group-hover:opacity-100 w-20 pointer-events-none" />
  </div>
</div>
