<div class="flex justify-center items-center my-8 gap-4">
  <div class="w-20 border border-green-400"></div>
  <div class="rounded-full w-4 h-4 bg-green-400"></div>
  <div class="w-20 border border-green-400"></div>
</div>
