---
import Icon from '../Icon.astro'
---

<button class="lg:grid lg:place-items-center lg:absolute fixed -order-1 top-2 right-2 outline-none bg-black/90 rounded-full group opacity-100 transition-opacity duration-1000" type="button" data-dismiss="slideshow" id="slide-close">
  <Icon
    id="close"
    class="rounded-full w-9 h-9 p-2 text-slate-200 group-hover:text-slate-100 ml-auto lg:ml-0"
  />
</button>
