@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: thin;
}

@font-face {
  font-family: Inter;
  src: url('/Inter.ttf');
}

@font-face {
  font-family: Inter;
  src: url('/InterItalic.ttf');
  font-style: italic;
}

@font-face {
  font-family: Playwrite;
  src: url('/Playwrite.ttf');
}

body {
  font-family: Inter;
}

.font-fancy {
  font-family: Playwrite;
}

.bg-gradient {
  @apply bg-gradient-to-tr from-teal-400 from-25% to-green-400;
}

.text-gradient {
  @apply bg-gradient-to-tr to-teal-400 from-25% from-green-400 bg-clip-text text-transparent;
}

.hover\:text-gradient:hover {
  @apply text-gradient;
}

.underline-animation {
  @apply relative;
}

.underline-animation::after {
  @apply absolute bottom-0 left-0 w-full h-0.5 opacity-0 bg-teal-400;
  content: '';
  transition: opacity 300ms, transform 300ms;
}

.underline-animation:hover::after,
.underline-animation:focus::after,
.underline-animation.always-active::after {
  @apply opacity-100;
  transform: translate3d(0, 0.2rem, 0);
}

.bg-hero {
  background-image: url('/src/images/bg-hero.svg');
  @apply bg-center md:bg-left bg-cover;
}

.carousel-logo {
  transition: filter 300ms;
}

.carousel-logo:hover {
  --tw-drop-shadow: drop-shadow(0 0 .25rem #999);
}

dialog[open].animate-fadein {
  animation: fadein 200ms ease-in both;
}

dialog[open].animate-fadein::backdrop {
  animation: fadein-backdrop 200ms ease-in both;
}

@keyframes fadein {
  0% {
    opacity:0;
  }

  100% {
    opacity:1;
  }
}

@keyframes fadein-backdrop {
  0% {
    opacity:0;
  }

  100% {
    opacity: .9;
  }
}
