@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: thin;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/Inter.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Playwrite;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/Playwrite.woff2') format('woff2');
}

body {
  font-family: Inter;
}

.font-fancy {
  font-family: Playwrite;
}

.bg-gradient {
  @apply bg-gradient-to-tr from-teal-400 from-25% to-green-400;
}

.text-gradient {
  @apply bg-gradient-to-tr to-teal-400 from-25% from-green-400 bg-clip-text text-transparent;
}

.hover\:text-gradient:hover {
  @apply text-gradient;
}

.underline-animation {
  @apply relative;
}

.underline-animation::after {
  @apply absolute bottom-0 left-0 w-full h-0.5 opacity-0 bg-teal-400;
  content: '';
  transition: opacity 300ms, transform 300ms;
}

.underline-animation:hover::after,
.underline-animation:focus::after,
.underline-animation.always-active::after {
  @apply opacity-100;
  transform: translate3d(0, 0.2rem, 0);
}

.bg-hero {
  background-image: url('/src/images/bg-hero.svg');
  @apply bg-[20%] md:bg-[25%] lg:bg-left bg-cover;
}

.carousel-logo {
  transition: filter 300ms;
}

.carousel-logo:hover {
  --tw-drop-shadow: drop-shadow(0 0 .25rem #999);
}

.logos {
  will-change: transform;
  animation: scrolling 20s linear infinite;
}

dialog[open].animate-fadein {
  animation: fadein 200ms ease-in both;
}

dialog[open].animate-fadein::backdrop {
  animation: fadein-backdrop 200ms ease-in both;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-102.5%);
  }
}

@keyframes fadein {
  0% {
    opacity:0;
  }

  100% {
    opacity:1;
  }
}

@keyframes fadein-backdrop {
  0% {
    opacity:0;
  }

  100% {
    opacity: .9;
  }
}
